<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block title %}<title>g11_Delivery_Warehouses</title>{% endblock %}
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li class="brand"><a href="/">DATABASEFINAL</a></li>
        {% if ulogin == None %}
          <li><a class="button" href="/login">Login</a></li>
        {% else %}
          <li><a class="button" href="/plot">Matplotlib</a></li>
          <li><a class="button" href="/plotly">Plotly</a></li>
          <li><a class="button" href="/Company">Companies</a></li>
          <li><a class="button" href="/gform/Warehouse">Warehouses</a></li>
          <li><a class="button" href="/gform/Vehicle">Vehicles</a></li>
          <li><a class="button" href="/gform/Order">Orders</a></li>
          <li><a class="button" href="/Userlogin">Users</a></li>
          <li><a class="button" style="color: #aaaaaa;">User: {{ulogin}}</a></li>
          <li class="sair-item"><a class="btn-sair" href="/logoff">Sair</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
