{% extends 'base.html' %}

{% block title %}<title>g11_Delivery_Warehouses</title>{% endblock %}

{% block content %}

<div class="dados">
    <br>
    <h1>Delivery Warehouses</h1>
    <br>

    {% if ulogin == None %}
        <p>Please login to access the system.</p>
        <br>
        <a href="/login" class="button1">Login</a>

    {% else %}
        <p>Welcome, <b>{{ ulogin }}</b>! Use the menu above to navigate.</p>
        <br>

        <table>
            <tr>
                <th>Module</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Company</td>
                <td>Manage companies</td>
                <td><a href="/Company">Open</a></td>
            </tr>
            <tr>
                <td>Warehouse</td>
                <td>Manage warehouses</td>
                <td><a href="/gform/Warehouse">Open</a></td>
            </tr>
            <tr>
                <td>Vehicle</td>
                <td>Manage vehicles</td>
                <td><a href="/gform/Vehicle">Open</a></td>
            </tr>
            <tr>
                <td>Order</td>
                <td>Manage orders</td>
                <td><a href="/gform/Order">Open</a></td>
            </tr>
            <tr>
                <td>Plot</td>
                <td>Matplotlib charts</td>
                <td><a href="/plot">Open</a></td>
            </tr>
            <tr>
                <td>Plotly</td>
                <td>Interactive Plotly charts</td>
                <td><a href="/plotly">Open</a></td>
            </tr>
            <tr>
                <td>Users</td>
                <td>Manage user accounts</td>
                <td><a href="/Userlogin">Open</a></td>
            </tr>
            <tr>
                <td>Dashboard</td>
                <td>Analytics dashboard</td>
                <td><a href="/dashboard">Open</a></td>
            </tr>
        </table>
    {% endif %}
</div>

{% endblock %}
